<style>
  .grid {
    border: 1px solid #000000;
    margin-right: 10px;
  }

  body {
    background-image: url("images/bg.png");
  }

  .grids {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 200px;
  }

  .title {
    font-family: sans-serif;
    font-size: 20px;
    color: green;
  }
</style>
<body>
  <div class='grids'>
    <div style='margin-bottom: 20px;'><span class='title'>Game of life Demo</span></div>
    <canvas id='grid1' class="grid" width="<%= @grid1.size*10 %>" height="<%= @grid1.size*10 %>"></canvas>
    <canvas id='grid2' class="grid" width="<%= @grid2.size*10 %>" height="<%= @grid2.size*10 %>"></canvas>
    <canvas id='grid3' class="grid" width="<%= @grid3.size*10 %>" height="<%= @grid3.size*10 %>"></canvas>
    <canvas id='grid4' class="grid" width="<%= @grid4.size*10 %>" height="<%= @grid4.size*10 %>"></canvas>
    <canvas id='grid5' class="grid" width="<%= @grid5.size*10 %>" height="<%= @grid5.size*10 %>"></canvas>
  </div>
</body>

<script src='javascript/jquery.min.js'></script>
<script>
  function draw_grid(grid, index){
    var c = document.getElementById("grid" + index);
    var ctx = c.getContext("2d");

    // draw white blank
    ctx.fillStyle="#ffffff";
    ctx.fillRect(0,0,grid.length*10,grid.length*10);

    // draw lines
    ctx.strokeStyle = "#b2b2b2";
    for(var k=1; k<grid.length; k++){
      ctx.moveTo(0,10*k);
      ctx.lineTo(grid.length*10,10*k);
      ctx.stroke();
      ctx.moveTo(10*k,0);
      ctx.lineTo(10*k,grid.length*10);
      ctx.stroke();
    }

    // draw cells
    ctx.fillStyle="#000000";
    for(var j=0; j<grid.length; j++){
      for(var i=0; i<grid.length; i++){
        if(grid[j][i] == 1){
          ctx.fillRect(i*10,j*10,10,10);
        }
      }
    }
  }

  function parse_array(string){
    var size = Math.sqrt(string.length);
    var a = new Array(size);
    for(var k=0; k<size; k++){
      a[k] = new Array(size);
    }

    for(var j=0; j<size; j++){
      for(var i=0; i<size; i++){
        a[j][i] = parseInt(string.charAt(size*j + i));
      }
    }
    return a;
  }

  $(function(){
    next_grid = [<%= @grid1 %>, <%= @grid2 %>, <%= @grid3 %>, <%= @grid4 %>, <%= @grid5 %>];
    setInterval(function(){
      $.each(next_grid, function(index, value) {
        $.post('/', {grid: value}, function(data){
          next_grid[index] = parse_array(data);
          draw_grid(next_grid[index], index+1);
        });
      });
    }, 1000);
  });
</script>
